.form-shadow {
  -webkit-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.15);
}

.form-submit-animation {
  animation: backdrop-in 450ms ease-in forwards;
}

@keyframes backdrop-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
