@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-width-default: 16.25rem; /* 260px */
  --sidebar-width-compact: 4.5rem; /* 72px */
  --header-height: 5rem; /* 80px */
}
